%h2 Edit Question (Please admins only)

%div.central-form
  = form_tag question_path(@question), :method => :put do

    %div.form-group
      = label :question, :title, 'Title'
      = text_field :question, 'title', class: "form-control"
    %div.form-group
      = label :question, :contest, 'Contest'
      = collection_select(:question, 'contest_id', Contest.all, :id, :contestname)
    %div.form-group
      = label :question, :description, 'Description'
      = text_area :question, 'description', rows:"10", class: "form-control"

    = submit_tag 'Update Question', class: "btn btn-primary", id: "submit"

%div.padded-top
  %h2 Test cases
  %table.table.table-bordered
    %thead
      %tr
        %th Input
        %th Output
        %th 
        %th 
    %tbody
      - @question.testcases.each do |testcase|
        %tr
          %td 
            %pre.blank-pre
              =testcase.stdin 
          %td
            %pre.blank-pre
              =testcase.stdout
          %td= link_to "Edit", edit_question_testcase_path(@question, testcase), class: "btn btn-default"
          %td= link_to "Delete", question_testcase_path(@question, testcase), class: "btn btn-danger", :method => :delete
  
  %div.central-form
    = link_to 'Add Testcase', new_question_testcase_path(@question), class: 'btn btn-primary'
    
    
= javascript_include_tag 'questions_new'
:javascript
    $(question_new.setup)