= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js'

%h2.question-show-class #{@question.title}

%div#question_description
    = @question.description
    
= form_tag question_submit_path(@question), :method => :post, class: "form-group" do
    %div.padded-input
        = label :submission, :language, 'Language'
        %div
            = select :submission, :language, options_for_select(@languages), class: "form-control"
                
    %div.padded-input
        = label :submission, :code, "Code"
        = text_area :submission, 'code', id: "editor"
        
    %div.padded-input
        = text_area :submission, 'code', id: "editor-form-submit", style: "display: none;"
    
    %div.row
        %div.col-sm-6
            %div.input-group
                %label
                    %input{id: 'toggleCustomTestCases', type: "checkbox", style: "margin: 7px;"} 
                    Test against custom input
            = text_area '', '', id: "customInputArea", rows: 5
        %div.col-sm-6
            = submit_tag "Submit code", class: "btn btn-success pull-right", id: "submit"
            %button{type: "button", class: "btn btn-default pull-right", id: "customInputBtn", style: "margin-right: 7px;"} Run Custom Testcase
    
    
= javascript_include_tag 'questions_show'
:javascript
    $(question_show.setup)