%h2 Edit Announcement

%div.central-form
  = form_tag announcement_path(@announcement), :method => :put do

    %div.form-group
      = label :announcement, :title, 'Title'
      = text_field :announcement, 'title', class: "form-control"
    %div.form-group
      = label :announcement, :content, 'Content'
      = text_area :announcement, 'content', rows:"10", class: "form-control"

    = submit_tag 'Update Announcement', class: "btn btn-primary", id: "submit"
    
= javascript_include_tag 'announcements_new'
:javascript
    $(announcement_edit.setup)
    
