%h1 Announcements
-if( @admin == 0)
    = link_to 'Add New Announcement', new_announcement_path, class: "admin"
- @announcements.each do |announcement|
    %div.panel.panel-default
        %div.panel-heading
            %div.pull-left
                =announcement.title
            %div.text-right
                =announcement.created_at.strftime("%B %d, %Y")
        %div.panel-body
            %pre.blank-pre
                = text_area :announcement, 'content' , rows:"5", class: "content", value: announcement.content, style: "display: none"
                = text_area :announcement, 'content' , rows:"5", class: "id", value: announcement.id, style: "display: none"
                %div{ :id => announcement.id, :class => "message"}
            %div.pull-right
                -if( @admin == 0)
                    =link_to "<< Edit >>", edit_announcement_path(announcement), class: "admin"
                    = link_to '<< Del >>', announcement_path(announcement), :method => :delete, :confirm => "Are you sure? Please don\'t do this if you aren't an admin...", class: "admin"

= javascript_include_tag 'announcements_index'
:javascript
    $(announcement_index.setup)
    
