%h2 Create Announcement

%div.central-form
  = form_tag announcements_path do

    %div.form-group
      = label :announcement, :title, 'Title'
      = text_field :announcement, 'title', class: "form-control"
    %div.form-group
      = label :announcement, :content, 'Content'
      = text_area :announcement, 'content', rows:"10", class: "form-control"

    = submit_tag 'Create Announcement', class: "btn btn-primary", id: "submit"
    
:javascript
    $(document).ready( function() {
      $("#announcement_content").markdown({
        onChange: function(e) {
          var preview = e.$isPreview;
          if(preview)
          {
            $("#submit").hide();
          }
          else
          {
            $("#submit").show();
          }
        }
      })
    });
     