
 <div class="panel panel-default">
            <div class="panel panel-heading">
                Edit your registration below:
            </div>
        <div class="panel panel-body">
        <%= form_for :registration, url: {action: "update", id: @registration.id}, html: {method: "put"}, :class => "form-inline" do |f| %>
           <p>
                <%= f.label :firstname, 'First Name' %><br>
                <%= f.text_field :firstname, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :lastname, 'Last Name' %><br>
                <%= f.text_field :lastname, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :email, 'Email' %><br>
                <%= f.text_field :email, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :year, 'Year In School' %><br>
                <%= f.text_field :year, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :major, 'Major' %><br>
                <%= f.text_field :major, :class => "form-control" %>
            </p>
            
             
            <%= f.hidden_field(:contestname, value: @contestname) %>
          
            
            <p>
                <% if @current_user.id != @teamcaptain %>
                    <%= f.label :team, 'Team' %><br>
                    <%= f.radio_button :team, "None", :checked => true %> None<br>
                    <%= f.radio_button :team, "Create Own Team" %> Create Own Team, Enter Team Name: <%= f.text_field :newteam %><br>
                    <% if @teams == [] %>
                        <%= f.hidden_field(:selectedteam, value: "Empty") %>
                    <% else %>
                    <%= f.radio_button :team, "Selected" %> Join Team: <%= f.collection_select(:selectedteam, @teams, :name, :name) %>
                    <% end %>
                <% else %>
                    <%= f.hidden_field(:newteam, value: "") %>
                    <%= f.hidden_field(:selectedteam, value: "Nope") %>
                    <%= f.hidden_field(:team, value: @registration.team) %>
                    Cannot switch teams because you are the team captain. Please delete your team or assign a new team captain to switch.
                <% end %>
            </p>
            
            
            
            <%= f.hidden_field(:userid, value: @registration.userid) %>
            <p>
                <%= f.submit 'Submit', :class => "btn btn-primary" %>
                <%= button_to "Cancel", :action => 'index', :method => 'get', :class => "btn btn-primary" %>
            </p>
                
        <% end %>
        </div>
    </div>
