
 <div class="panel panel-default">
            <div class="panel panel-heading">
                Edit your registration below:
            </div>
        <div class="panel panel-body">
        <%= form_for :registration, url: {action: "update", id: @registration.id}, html: {method: "put"}, :class => "form-inline" do |f| %>
           <p>
                <%= f.label :firstname, 'First Name' %><br>
                <%= f.text_field :firstname, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :lastname, 'Last Name' %><br>
                <%= f.text_field :lastname, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :email, 'Email' %><br>
                <%= f.text_field :email, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :year, 'Year In School' %><br>
                <%= f.text_field :year, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :major, 'Major' %><br>
                <%= f.text_field :major, :class => "form-control" %>
            </p>
            
             
            <p>
                <%= f.label :contestname, 'Contest Name' %><br>
                <%= f.select :contestname, Contest.all.collect {|c| [ c.contestname, c.contestname ] }, {prompt: 'Select Contest'}, :class => "btn btn-default dropdown-toggle" %>
            </p>
            
            <%= f.hidden_field(:userid, value: @registration.userid) %>
            <p>
                <%= f.submit 'Submit', :class => "btn btn-primary" %>
                <%= button_to "Cancel", :action => 'index', :method => 'get', :class => "btn btn-primary" %>
            </p>
                
        <% end %>
        </div>
    </div>
