<h1>Your Registrations</h1>
<% if @current_user == nil %>
    <h3>Please log in to view your registrations!</h3>
<%elsif @registrations.blank? %>
    <%= link_to 'Register For A Contest!', controller: 'contests', action: 'index' %>
<%elsif @contests == nil %>
    <h3> No Contests To Register For </h3>
<% else %>
    <br>
    <table class="table table-striped">
      <tr>
        <th>Your Contests</th>
        <th>Options</th>
      </tr>
      <% @registrations.each do |registration| %>
        <tr>
          <td><%= registration.contestname %></td>
          <td><%= link_to 'Edit', controller: 'registration', action: 'edit', id: registration.id %></td>
        </tr>
      <% end %>
    </table>
   <h1>Your Teams</h1>
    <table class="table table-striped">
      <tr>
        <th>Contest</th>
        <th>Team</th>
        <th>Team Details</th>
      </tr>
      <% @registrations.each do |registration| %>
        <tr>
          <td><%= registration.contestname %></td>
          <td><%= registration.team %></td>
          <td><%if Team.where(:captain => @current_user.id, :name => registration.team) != [] %>
          <%= link_to 'View Details', controller: 'teams', action: 'show', id: (Team.where(:name => registration.team, :captain => @current_user.id)).first.id %>
          <%elsif registration.team != "None" %>
          <%= link_to 'View Details', controller: 'teams', action: 'show', id: (Team.where(:name => registration.team, :contestname => registration.contestname)).first.id %>
          <% else %>
          None
          <%end%></td>
        </tr>
      <% end %>
    </table>
    <% if @m_contests != [] %>
     <h1>Upcoming Contests</h1>
     <table class="table table-striped">
      <tr>
        <th>Register for a Contest</th>
        <th>Link</th>
      </tr>
      <% @m_contests.each do |contest| %>
        <tr>
          <td><%= contest.contestname %></td>
          <td><%= link_to 'Register!', controller: 'registration', action: 'new', id: contest.id %></td>
        </tr>
      <% end %>
    </table>
    <% end %>
   
<% end %>
