<h1>Registration</h1>
<% if @current_user == nil %>
    <h3>Please login to register!</h3>
<% else %>
    <br>
    <div class="panel panel-default">
            <div class="panel panel-heading">
                To register, fill out this form (yes, it's that easy!)
            </div>
        <div class="panel panel-body">
        <%= form_for :registration, url: {action: "create"}, :class => "form-inline" do |f| %>
           <p>
                <%= f.label :firstname, 'First Name' %><br>
                <%= f.text_field :firstname, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :lastname, 'Last Name' %><br>
                <%= f.text_field :lastname, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :email, 'Email' %><br>
                <%= f.text_field :email, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :year, 'Year In School' %><br>
                <%= f.text_field :year, :class => "form-control" %>
            </p>
            
            <p>
                <%= f.label :major, 'Major' %><br>
                <%= f.text_field :major, :class => "form-control" %>
            </p>
            
             
            <p>
                <%= f.label :contestname, 'Contest Name' %><br>
                <%= f.select :contestname, [['Contest 1 -- November 3rd','contest1'],['Contest 2 -- November 5th','contest2'],['Contest 3 -- November 7th','contest3']], :class => "btn btn-default dropdown-toggle" %>
            </p>
            
            <%= f.hidden_field(:userid, value: @currentuserid) %>
            <p>
                <%= f.submit 'Submit', :class => "btn btn-primary" %>
            </p>
        
        <% end %>
        </div>
    </div>
<% end %>
