<br>
<br>
<p>
    <strong>First Name:</strong>
    <%= @registration.firstname %>
</p>

<p>
    <strong>Last Name:</strong>
    <%= @registration.lastname %>
</p>

<p>
    <strong>Email:</strong>
    <%= @registration.email %>
</p>

<p>
    <strong>Contest Name</strong>
    <%= @registration.contestname %>
</p>

<%= link_to 'Home', controller: 'announcement' %>