!!!
%html
  %head
    %title HackHaven
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Poiret+One'
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
    = csrf_meta_tags
  
  %nav.navbar.navbar-default
    %div.container-fluid
      //Brand and toggle get grouped for better mobile display
      %div.navbar-header
        %button.navbar-toggle.collapsed{type:"button", "data-toggle"=>"collapse", "data-target"=>"#nav-collapse", "aria-expanded"=>"false"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        =link_to 'HackHaven', '/', class:"navbar-brand"
      
      #nav-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            %a{href: '/announcements'} Announcements
          %li
            =link_to "Register!", controller: "registration", action: "new"
          %li
            =link_to "Your Registrations", controller: "registration", action: "index"
            
        %ul.nav.navbar-nav.navbar-right
          %li
            -if !@current_user
              = button_to 'Sign up/Login', login_path, :method => :get, :id => 'login'
            -else   
              You are logged in as #{@current_user.name}
              = button_to 'Logout', logout_path, :method => :delete, :id => 'logout'
            
  %body
    #main.container
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield