!!!
%html
  %head
    %title HackHaven
    .meta{name: "viewport" content: "width=device-width", "initial-scale" => "1"}
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Poiret+One'
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
    = csrf_meta_tags
  
  %nav.navbar.navbar-default
    %div.container-fluid
      //Brand and toggle get grouped for better mobile display
      %div.navbar-header
        %button.navbar-toggle.collapsed{type:"button", "data-toggle"=>"collapse", "data-target"=>"#nav-collapse", "aria-expanded"=>"false"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        =link_to 'HackHaven', '/', class:"navbar-brand"
      
      #nav-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li{:class => (controller.class == AnnouncementsController && controller.action_name == 'index' ? 'active' : '')}
            %a{href: '/announcements'} Announcements
          %li{:class => (controller.class == RegistrationController && controller.action_name == 'index' ? 'active' : '')}
            =link_to "Your Registrations", controller: "registration", action: "index"
          %li{:class => (controller.class == QuestionsController && controller.action_name == 'index' ? 'active' : '')}
            %a{href: '/questions'} Questions
          %li{:class => (controller.class == ContestsController && controller.action_name == 'index' ? 'active' : '')}
            =link_to "Upcoming Contests", controller: "contests", action: "index"
          %li{:class => (controller.class == TeamsController && controller.action_name == 'index' ? 'active' : '')}
            =link_to "Teams", controller: "teams", action: "index"
          -if @admin == 0
            %li.dropdown
              %a{:href => '#', class: "dropdown-toggle", "data-toggle" => "dropdown", role: "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
                Admin Links
                %span.caret
              %ul.dropdown-menu
                %li{:class => (controller.class == UsersController ? 'active' : '')}
                  %a{href: '/users'} Edit Users
                %li{:class => (controller.class == QuestionsController && controller.action_name == 'new' ? 'active' : '')}
                  %a{href: '/questions/new'} New Question
                %li{:class => (controller.class == ContestsController && controller.action_name == 'new' ? 'active' : '')}
                  %a{href: '/contests/new'} New Contest
                %li{:class => (controller.class == AnnouncementsController && controller.action_name == 'new' ? 'active' : '')}
                  %a{href: '/announcements/new'} New Announcement
            
            
        %ul.nav.navbar-nav.navbar-right
          %li
            -if !@current_user
              = link_to 'Sign up/Login', login_path, :method => :get, :id => 'login'
            -else
              = link_to "Logout #{@current_user.name}", logout_path, :method => :delete, :id => 'logout'
            
  %body
    #main.container
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield